<div class="containter">
  <div
    class="table-responsive"
  >
    <table
      class="table table-primary"
    >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">View Detail</th>
          <th scope="col">Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Age</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.surname}}</td>
          <td>{{user.age}}</td>
          <td><button>[routerLink]="['users','cards','user.id']" routerLinkActive="router-link-active" </button></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
